#red{
    color: red;
}
#blue{
    color: blue;
}
#orange[id="orange"]{
    color: orange;
}
#green[id="green"]{
    color: green;
}
#yellow[id="yellow"]{
    color: yellow;
}

.color-title{
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}